.main{
    margin: 15% 5%;
    width: 100%;
    background-image: url(./background.svg);
    background-repeat: no-repeat;
    text-align: -webkit-center;
}

.main h1{
    width: fit-content;
    font-family: 'Geo', sans-serif;
    font-size: 105px
}

.main h2{
    width: fit-content;
    font-family: 'Geo', sans-serif;
    font-size: 50px;
}