.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar {
    display: flex;
    gap: 10px;
}


.navbar_icon {
    font-size: 30px;
    color: #78ffd6;
}